# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
errors.txt
*/tdlib-db
*/tdlib-files
*/errors.txt

get-chats/get-chats
send-message/send-message